<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
  </head>
  <body class="theme-mode-light">
    <div id="app"></div>
  </body>
</html>
<script src="https://readmore.openwrite.cn/js/readmore.js" type="text/javascript"></script>
<script>
    const btw = new BTWPlugin();
    btw.init({
        id: 'app',
        blogId: '27041-1624683116038-727',
        name: '程序员蜗牛',
        qrcode: 'https://webrabbit.oss-cn-beijing.aliyuncs.com/gongzhonghao/WechatIMG30.png',
        keyword: '验证码',
    });
</script>